* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(235, 240, 241);
}
.header {
    display: flex;
    justify-content: space-between;
    gap: 350px;
    align-items: center;
    padding: 15px;
    background-color: rgb(44, 61, 80);
    color: white;
}
.buttons {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 30px;
}
.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 154, 218);
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    border: 0px;
    transition: transform 0.3s ease;
}
.buttons button:hover {
    background-color: rgb(29, 134, 198);
    transform: scale(1.1);
}
.buttons a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.buttons a:hover {
    color: gainsboro;
}
.main {
    padding: 40px;
}
.perfil {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 7px;
    background-color: white;
    box-shadow: 0px 2px 20px 5px rgb(207, 207, 207);
    padding: 40px;
    width: 40%;
    border-radius: 7px;
    overflow: hidden;
}
.perfil h1 {
    font-size: 25px;
}
.dividiv-jr {
    padding-top: 120px;
}
.azul {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(49, 153, 218, 0.404);
    width: 100%;
}
.foto {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 6px rgb(22, 19, 19);
}
.subtitulo {
    color: gray;
}
.editar {
    color: rgb(42, 133, 190);
    text-decoration: none;
}