*{
      padding:0;
      margin:0;
      box-sizing: border-box;
}
.encabezado{
      width: 100%;
      background-color: gray;
      padding: 15px;
}
.titulo_header{
      text-align: center;
      color: white;
}
.container{
      outline: solid 1px black;
      margin: 0 auto;
      padding: 20px;
      width: 900px;
}

.aceptar{
      width: 100px;
      height: 50px;
}
.caja1{
      margin: 0 auto;
      width: 80%;
      height: 200px;
      background-color: yellow;
}

.parrafo1{
      font-size: 50px;
}
.link1{
      font-size: 300%;
}

.cursiva{
      color: green;
      margin-top: 15px;
      font-style:italic;
}