* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f4f8;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(63, 63, 63);
}

.title {
    color: white;
    font-size: 1.8rem;
}

input {
    background-color: white;
    width: 500px;
    padding: 15px;
    border: solid 0px;
    height: 35px;
    border-radius: 50px;
}

.login {
    background-color: rgb(108, 92, 231);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 0.9rem;
    color: white;
    border: solid 0;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    padding: 50px;
}
.section-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 200px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
}

.profile {
    background-color: rgb(43, 157, 192);
    padding: 6px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9rem;
    color: white;
    border: solid 0;
    text-decoration: none;
    cursor: pointer;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.like-button {
    background-color: rgb(255, 208, 107);
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.9rem;
    color: black;
    border: solid 0;
    text-decoration: none;
    cursor: pointer;
}

.section-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta-publicaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 800px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
}

.publicaciones-derecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}